.similar-artists-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .similar-artists-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
  }
  
  .icon {
    margin-right: 5px; 
  }